# =====================
# Python
# =====================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# Distribution
build/
dist/
*.egg-info/

# =====================
# IDE
# =====================

.vscode/
.idea/
*.code-workspace

# =====================
# macOS
# =====================

.DS_Store

# =====================
# Environment
# =====================

.env

# =====================
# Debug
# =====================

debug/*
!debug/.gitkeep

# =====================
# Output
# =====================

output/*.json
output/*.md
output/raw/*
!output/.gitkeep
!output/raw/.gitkeep