# =====================
# Python
# =====================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# Distribution
build/
dist/
*.egg-info/

# =====================
# IDE
# =====================

.vscode/
.idea/

# =====================
# macOS
# =====================

.DS_Store

# =====================
# Environment
# =====================

.env

# =====================
# Debug
# =====================

debug/*
!debug/.gitkeep